html {
	display: table;
	margin: auto;

	font-size: 62.5%;
}

body {
	/*position: relative;*/
	margin: 0;
	width: 100rem;
	min-width: 40rem;
	height: 100vh;
}
@media all and (max-width: 63.75rem) {
	body {
		width: calc(100vw - 2rem);
	}
}

/* slug */
#edit h2 {
	display: inline-block;
	margin: 1rem 0.3rem -0.6rem 0.3rem;
	border: none;
	padding-top: 0.1rem;
	line-height: 1.6rem;
	overflow: auto;

	font-size: 1.2rem;
	font-family: sans-serif;
	font-weight: 200;
	color: grey;
}
#edit h2>span#slug {
	color: black;
}
/* doc-type selection */
#edit form>select[name=content_type]{
	display: inline-block;
	float: right;
	margin: 1rem 0 1rem 0;	
	border: 0;
	padding: 0 0.2rem 0 0.2rem;
	overflow: auto;

	background-color: whitesmoke;
	outline: none;
}
/* title field */
#edit h1 {
	margin: 1rem 0 1rem 0;
	border-bottom: 0.1rem solid darkgrey;
	padding: 0;
}
#edit h1 > input[name=title]{
	display: block;
	border: 0;
	padding: 0 0.6rem 0 0.6rem;
	width: calc(100% - 1.2rem);
	line-height: 3.7rem;

	font-size: 2.9rem;
	font-family: Georgia, Times, serif;
	font-weight: 400;
	background-color: whitesmoke;
	outline: none;
}
/* tags field */
#edit label[for=tags] {
	display: inline-block;
	margin: 0 calc(-100% + 11rem) 1rem 0;
	padding: 0.1rem calc(100% - 11rem - 3.7rem) 0.1rem 0.6rem;
	width: 3rem;

	font-size: 1.4rem;
	font-family: sans-serif;
	color: grey;
	background-color: whitesmoke;
}
#edit input[name=tags] {
	display: inline-block;
	margin: 0;
	padding: 0.1rem 0 0.1rem 4.2rem;
	border: 0;
	width: calc(100% - 4.2rem - 11rem);

	font-size: 1.4rem;
	color: black;
	background-color: transparent;
	outline: none;
}
/* preview and save buttons */
#edit button[type=submit] {
	float: right;
	margin-top: -0.3rem;
	line-height: 1.8rem;

	font-size: 1.25rem;
	text-align: center;
}
/* page content text-area */
#edit textarea[name=content] {
	display: block;
	/*position: relative;*/
	border: 0;
	padding: 1rem;
	/*height: 100%;*/
	width: calc(100% - 0.4rem - 1.6rem);
	height: calc(100vh - 12.7rem - 1.6rem);
	/*width: inherit;*/
	/*top: 11.3rem;*/
	/*position: absolute;*/
	/*bottom: 1rem;*/

	font-size: 1.6rem;
	font-family: 'Inconsolata', monospace;
	background-color: whitesmoke;
	resize: none;
	outline: none;
}
#edit textarea[name=content]::-webkit-scrollbar {
	width: 0.9375rem;
	background-color: whitesmoke;
}
#edit textarea[name=content]::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}

/*#test {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: red;
	width: 2rem;
	height: calc(11.3rem);
}*/
/* hack to toggle page-preview OFF and edit-page ON */
/*#edit {
	display: none;
}
input#edit-button {
	display: none;
}*/
label[for=edit-button] {
	position:fixed;
	display: block;
	right: 10px;
	top: 0px;
	background-color: red;
	width: 100px;
	height: 10px;
}
input#edit-button, input#edit-button:checked+label[for=edit-button], #preview~#edit, input#edit-button:checked ~ #preview{
	display: none;
}/*
input#edit-button:checked ~ #preview {
	display: none;
}*/
input#edit-button:checked ~ #edit {
	display: block;
}
