html {
    display: table;
    margin: auto;

    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 2rem 1rem 0 1rem;
    width: calc(100vw - 4rem);
    max-width: 100rem;
    overflow-x: hidden;

    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

h1 {
    margin: 0 0 0.6rem 0;
    font-size: 2.9rem;
    line-height: 3.7rem;
}
h2 {
    margin: 2.1rem 0 0.5rem 0;
    font-size: 2.1rem;
    line-height: 2.7rem;
}
h3 {
    margin: 1.3rem 0 0 0;
    font-size: 1.7rem;
    line-height: 2.7rem;
}
h4 h5 h6{
    margin: 0.7rem 0 0.7rem 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
h1, h2 {
    font-family: Georgia, Times, serif;
    font-weight: 400;
    border-bottom: 0.1rem solid darkgrey;
}
hr {
    border: 0;
    border-top: 0.1rem solid darkgrey;
}

a {
    color: #0645ad;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0b0080;
}

p {
    margin: 0.7rem 0 0.7rem 0;
}

#tagline {
    display: block;
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
}

