<!DOCTYPE html>
<html>
<head>
	<title>Create new page or collection</title>
	<link href="/static/style.css" rel="stylesheet" media="screen"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
</head>
<body>
	<!--<nav></nav>-->
	<h1>{{slug}}</h1>
	<p>This page doesn't have any content yet. <a href="/{{slug}}/edit">add some</a></p>
</body>
</html>