<!DOCTYPE html>
<html>
<head>
	<title>edit: /{{slug}}</title>
	<link href="/static/edit.css" rel="stylesheet" media="screen"/>
	<link href="/static/style.css" rel="stylesheet" media="screen"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
</head>
<body>
	<!--<nav></nav>-->
	<!-- Preview -->
	{% include preview_html %}
	<!-- Edit raw text -->
	<div id="edit">
		<form method="post" action="/{{slug}}/edit">
			<h2>Editing: <span id="slug">/{{slug}}</span></h2>
			<input type="hidden" name="page_version" value="{{page_version}}"/>
			<input type="hidden" name="form_id" value="{{form_id}}"/>
			<select required name="content_type">
				<option selected value="{{selected_content_type}}">{{selected_content_type}}</option>
				{% for type in content_types if not type==selected_content_type %}
				<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
			<h1><input type="text" name="title" placeholder="Title" value="{{title}}"/></h1>
			<label for="tags">tags: </label><input type="text" id= "tags" name="tags" value="{% for tag in tags -%}{{tag}} {% endfor %}" placeholder="tags"/>
			<button class="save" type="submit" name="save" value="save">Save</button>
			<button class="preview" type="submit" name="preview" value="preview">Preview</button>
			<!--<input type="submit" value="Save" id="edit-submitbutton">-->
			<textarea name="content">{% include page_text %}</textarea>
		</form>
	</div>
</body>
</html>