<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link href="/static/style.css" rel="stylesheet" media="screen"/>
	<link href="/static/print.css" rel="stylesheet" media="print"/>
	<link href="/static/pygment.css" rel="stylesheet" media="screen"/>
	<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<header>Version mismatch! It seems someone may have updated this page while you were making changes.</header>
	<!--<nav></nav>-->
	<h1>{{title}}</h1>
	<span id="tagline">From Nickk's wiki, the tiny encyclopedia</span>